.f-center {
	@apply flex items-center justify-center;
}

.f-between {
	@apply flex items-center justify-between;
}

.t-200 {
	@apply transition duration-200 ease-in-out;
}

.t-300 {
	@apply transition duration-300 ease-in-out;
}

label {
	@apply text-grey-700 text-sm;
}

.input-wrapper {
	@apply border rounded-md;
	input, select {
		@apply bg-transparent focus:outline-0 px-4;
		@apply min-h-[52px] w-full;
	}
	&:focus-within {
		@apply border-blue-500;
	}
}